<!DOCTYPE html>
<html lang="nl">

<head>
  <meta name="viewport" content="width=320,initial-scale=1,user-scalable=0">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <!-- type -->
  <meta property="og:type" content="default">
  <meta name="twitter:card" content="summary">

  <!-- url -->
  <meta property="og:url" content="https://www.codefor.nl/">
  <meta name="twitter:url" content="https://www.codefor.nl/">

  <!-- site name -->
  <meta property="og:site_name" content="Code For NL">

  <!-- title -->
  <title>Samenwerken aan de Digitale Overheid (Code For NL)</title>
  <meta property="og:title" content="Samenwerken aan de Digitale Overheid (Code For NL)">
  <meta name="twitter:text:title" content="Samenwerken aan de Digitale Overheid (Code For NL)">

  <!-- description -->
  
  
  <meta property="og:description"
    content="Code for NL is het netwerk van developers en designers die samenwerken aan een open en eerlijke digitale overheid en samenleving">
  <meta name="twitter:description"
    content="Code for NL is het netwerk van developers en designers die samenwerken aan een open en eerlijke digitale overheid en samenleving">
  
  

  <!-- preview image -->
  
  <meta property="og:image" content="https://www.codefor.nl/img/larger_CfNL.png">
  <meta name="twitter:image" content="https://www.codefor.nl/img/larger_CfNL.png">
  

  <!-- shortcut icon -->
  <link rel="image_src" href="/img/larger_CfNL.png" />
  <link rel="shortcut icon" sizes="128x128" href="/img/CfNL.png" />

  <meta name="keywords"
    content="code, for, nl, civic, tech">

  <!-- style -->
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://www.codefor.nl/css/reset.css" type="text/css" media="all">
  <link rel="stylesheet" href="https://www.codefor.nl/css/style.css" type="text/css" media="all">
  <script src="https://use.fontawesome.com/164ce3f549.js"></script>

  <!-- jquery -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</head>

<body>
  <nav class="block-40-a">
  <div class="nav__logo">
    <img src="/img/Logo-slash-01.png" style="height: 48px"> <span class="nav__logo--background-orange">&nbsp;CODE for NL&nbsp;</span>
    <div style="margin-top: 10px; font-size: 12px; margin-left: 80px">samenwerken aan de digitale overheid</div>
  </div>
  <ul class="nav__menu">
    <!-- <li><a href="#community">community</a></li> -->
    <li><a href="/#meetups">meetups</a></li>
    <li><a href="/#training">training</a></li>
    <li><a href="/#programmas">programmas</a></li>
  </ul>
</nav>
{{ content }}
</body>
</html>
